/* Estilos generales */
body {
    background-color: #ffffff;
    font-family: 'Reboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #51CB20;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

nav ul {
    background-color: #2708A0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
}

/* Estilos específicos de cada página */
/* Inicio */
body.index {
    background-color: #ffffff;
}

/* Contacto */
body.contacto {
    background-color: #ffffff;
}

/* Empresa */
body.empresa {
    background-color: #ffffff;
}

/* Servicios */
body.servicios {
    background-color: #ffffff;
}

/* Formulario de contacto */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.form-container form {
    background-color: #YourColorHere; /* Reemplaza "YourColorHere" por el color deseado */
    padding: 20px;
    border: 2px solid #YourColorHere; /* Reemplaza "YourColorHere" por el mismo color anterior */
    border-radius: 10px;
    max-width: 400px; /* Cambia el ancho máximo según tus preferencias */
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

.form-group input[type="submit"] {
    background-color: #YourButtonColor; /* Reemplaza "YourButtonColor" por el color deseado */
    color: #ffffff;
    cursor: pointer;
}